mr-jarvis.tech, www.mr-jarvis.tech {
    handle /api* {
        reverse_proxy backend-api:8000
    }
    handle /auth* {
        reverse_proxy backend-api:8000
    }
    handle /emails* {
        reverse_proxy backend-api:8000
    }
    handle /calendar* {
        reverse_proxy backend-api:8000
    }
    handle /todos* {
        reverse_proxy backend-api:8000
    }
    handle /notifications* {
        reverse_proxy backend-api:8000
    }
    handle /health {
        reverse_proxy backend-api:8000
    }

    handle {
        root * /usr/share/caddy
        try_files {path} /index.html
        file_server
    }
}
